*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background: aliceblue;
}
main{
	padding: 150px 0; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container{
	width: 800px;
	height: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.mainBtn{
	margin: 25px;
	background: dodgerblue;
	border-radius: 20px;
	transition: .3s;
	border:1px solid transparent;
	align-self: center;
}
.mainBtn>a{
	display: inline-block;
	padding: 15px 30px;
	color: snow;
	text-decoration: none;
}
.mainBtn:hover{
	background-color: snow;
	border-color: dodgerblue;
}
.mainBtn:hover > a{
	color: dodgerblue;
}



/*======================== Main Page End==========================*/
.exitBtn{
	position: absolute;
	right: 200px;
	top: 0;

}
h3{
	font-size: 48px;
	text-align: center;
	margin: 30px 0;
}

form{
	display: flex;
	flex-direction: column;
}
.errorsCont{
	position: relative;
}
.errorsCont>input{
	width: 100%;
}
.errorsCont>.errors{
	position: absolute;
	color: red;
	width: 250px;
	left: -54%;
	top: 40%;
}
input{
	outline: none;
	padding-left: 20px;
	margin: 20px 0;
	height: 35px;
	border-radius: 8px;
	border:1px solid grey;
}
.moreDetalsInput{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}
.moreDetalsInput>input{
	margin: 0;
}
input[type="file"]{
	margin-bottom: 0;
	border:none;
	padding-top: 8px;

}
input[type="submit"]{
	width: 150px;
	padding-left: 0;
	margin: 20px auto;
	background: dodgerblue;
	border:1px solid transparent;
	color: snow;
	transition: .3s;
	border-radius: 20px;
}
.countButtons{
	position: relative;
}
.quantity{
	margin: 0;
	text-align: center;
	padding-left: 0;
}
.count{
	width: 20px;
	height: 100%;
	font-size: 37px;
	line-height: 100%;
	font-weight: bold;
	background: transparent;
	display: block;
	position: absolute;
	top: 0;
	cursor: pointer;
}
.down{
	left: 8px;
	line-height: 80%;
}
.up{
	right: 8px;
}
input[type="submit"]:hover{
	background: snow;
	color: dodgerblue;
	font-weight: bold;
	border-color: dodgerblue;
	cursor: pointer;
}
textarea{
	resize: none;
	outline: none;
	overflow: auto;
	padding: 20px;
}


/*============================================add Porduct end =============================*/



.prodCard{
	width: 300px;
	height: 300px;
	border:1px solid grey;
	display: flex;
	flex-direction: column;
	border-radius: 50%;
	position: relative;
	box-shadow: 2px 2px 24px 5px rgba(0,0,0,.5);
	z-index: 555;
	transition: .3s;
	background-color: lightblue;
	margin:10px;
}
.prodCard>a>img,.prodCard>a{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: 555;
}



.prodName,.prodQuantity,.prodPrice,.prodDescr{
	position: absolute;
	text-transform: capitalize;
	font-size: 20px;
	background: dodgerblue;
	color: snow;
	padding: 5px;
	border-radius: 5px;
	transition: all .2s;
	transform: translate(120px,250px);
	opacity: 0;
}
.prodName{
	transition-delay: .3s;
}
.prodQuantity{
	transition-delay: .6s;
}
.prodPrice{
	transition-delay: .9s;
}
.prodDescr{
	transition-delay: 1.2s;
}
.prodCard:hover .prodName{
	transform: translate(120px,5px);
	z-index: 556;
	opacity: 1;
}
.prodCard:hover .prodQuantity{
	transform: translate(120px,55px);
	z-index: 556;

	opacity: 1;
}
.prodCard:hover .prodPrice{
	transform: translate(120px,115px);
	
	z-index: 556;
	opacity: 1;
}
.prodCard:hover .prodDescr{
	
	z-index: 556;
	transform: translate(120px,175px);
	opacity: 1;
}

.prodCards{
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagination{
	display: flex;
	justify-content: center;
	align-items: center; 
	padding: 30px 0;
}


.pagination a{
  display: inline-block;
  text-decoration: none;
  padding: 10px 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  padding: 0;
  text-align: center;
  font-size: 22px;
  font-weight: bold;

}

.pageNum{
	border:1px solid black;
	border-radius: 50%;
	margin: 0 15px;
}
.active{
	color: red;
}